Repository chris-bosman/habitat: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:client, build:server, build:infrastructure, deploy:client, deploy:server, deploy:infrastructure

.gitlab-ci.yml:

stages:
  - build
  - deploy

build:client:
  image: circleci/node
  stage: build
  cache: 
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - client/node_modules/
  before_script:
    - cd client
    - npm i
  script:
    - npm run build
  only:
    changes:
      - client/*
  except:
    refs:
      - master

build:server:
  image: circleci/node
  stage: build
  cache: 
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - server/node_modules/
  script:
    - cd server
    - npm i
    - npm run pack
    - mkdir packages
    - cd ..
    - zip -ur server/habitat.zip .ebextensions
    - mv server/habitat.zip server/packages
  artifacts:
    paths:
      - server/packages/habitat.zip
  only:
    changes:
      - server/*

build:infrastructure:
  image:
    name: hashicorp/terraform:full
    entrypoint: ["/bin/bash"]
  stage: build
  script:
    - cd infrastructure/aws
    - terraform init
    - terraform plan -out=plan
  artifacts:
    paths:
      - infrastructure/aws/plan
  only:
    changes:
      - infrastructure/*

deploy:client:
  image: circleci/node
  stage: deploy
  script:
    - npm i
    - npm run build-client
  only:
    refs:
      - master
    changes:
      - client/*

deploy:server:
  image: circleci/python
  stage: deploy
  before_script:
    - pip3 install awscli --upgrade --user
    - pip3 install awsebcli --upgrade --user
  script:
    - aws s3 sync server/packages s3://$AWS_S3_BUCKET/$SOFTWARE_VERSION.$CI_JOB_ID
    - aws s3 copy s3://$AWS_S3_BUCKET/$SOFTWARE_VERSION.$CI_JOB_ID/habitat.zip s3://$AWS_EB_S3_BUCKET/$SOFTWARE_VERSION.$CI_JOB_ID/habitat.zip
    - aws elasticbeanstalk create-application-vesion --application-name $AWS_EB_APP_NAME --version-label $SOFTWARE_VERSION.$CI_JOB_ID --source-bundle S3Bucket="$AWS_EB_S3_BUCKET",S3Key="$SOFTWARE_VERSION.$CI_JOB_ID/habitat.zip" --auto-create-application
    - eb deploy --version $SOFTWARE_VERSION.$CI_JOB_ID
    - eb setenv DB_PASS=$atlas_pw
  only:
    refs:
    - master
    changes:
      - server/*
  when: on_success
  dependencies:
    - build:server

deploy:infrastructure:
  image:
    name: hashicorp/terraform:full
    entrypoint: ["/bin/bash"]
  stage: deploy
  script:
    - cd infrastructure/aws
    - terraform init
    - terraform apply -auto-approve "plan"
  only:
    refs:
    - master
    changes:
      - infrastructure/*
  when: on_success
  dependencies:
    - build:infrastructure

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

HTTPS on server
  .ebextensions/loadbalancer.config
  .ebextensions/proxy.config
Due: none

Update View.vue
  client/src/views/View.vue
Due: none

Update loadbalancer.config
  .ebextensions/loadbalancer.config
Due: none

Update netlify.toml
  client/public/netlify.toml
Due: none

Update main.workflow
  .github/main.workflow
Due: none

Turning cards into component
  client/package-lock.json
  client/package.json
  client/src/components/Card.vue
  client/src/components/SideNav.vue
  client/src/data/text/analyzeCard.txt
  client/src/data/text/importCard.txt
  client/src/data/text/orgCard.txt
  client/src/data/text/vizCard.txt
  client/src/views/Start.vue
Due: build:client, deploy:client

Update README.md
  README.md
Due: none

Beginning configuration of Admin page
  client/package-lock.json
  client/package.json
  client/src/components/TopNav.vue
  client/src/data/text/config.md
  client/src/main.js
  client/src/store.js
  client/src/views/Admin.vue
Due: build:client, deploy:client

squash
  .ebextensions/nodecommand.config
  client/src/components/Card.vue
  client/src/main.js
  client/src/scripts/webRequests/fetchResources.js
  client/src/scripts/webRequests/serverInterface.js
  client/src/store.js
  client/src/views/Admin.vue
  client/src/views/Start.vue
  server/.env
Due: build:server, deploy:server

testing auth
  .gitlab-ci.yml
  client/src/components/TopNav.vue
  client/src/router.js
  client/src/views/Server.vue
  server/.env
  server/package-lock.json
  server/package.json
  server/src/components/verifyAuth.ts
  server/src/index.ts
  server/src/routes.ts
Due: build:server, deploy:server

Squash
  .ebextensions/nodecommand.config
  .gitlab-ci.yml
  client/.env
  client/package-lock.json
  client/package.json
  client/src/App.vue
  client/src/components/TopNav.vue
  client/src/data/json/customResponseCodes.json
  client/src/router.js
  client/src/scripts/fileParsing/tfStateParser.js
  client/src/scripts/userInfo/getUserInfo.js
  client/src/scripts/webRequests/serverInterface.js
  client/src/store.js
  client/src/views/Admin.vue
  client/src/views/Server.vue
  package-lock.json
  package.json
  server/.env
  server/package-lock.json
  server/package.json
  server/src/components/auth.ts
  server/src/components/db.ts
  server/src/components/uploadHandler.ts
  server/src/components/verifyAuth.ts
  server/src/index.ts
  server/src/routes.ts
Due: build:client, build:server, deploy:client, deploy:server

stuff
  client/src/scripts/webRequests/serverInterface.js
  client/src/views/Admin.vue
  server/.env
  server/package-lock.json
  server/package.json
  server/src/functions/createOrg.ts
  server/src/functions/createResource.ts
  server/src/index.ts
  server/src/routes.ts
Due: build:server, deploy:server

squash
  client/package-lock.json
  client/package.json
  client/src/App.vue
  client/src/components/TopNav.vue
  client/src/components/modals/Loading.vue
  client/src/components/modals/Result.vue
  client/src/components/modals/Upload.vue
  client/src/components/visualizations/List.vue
  client/src/components/visualizations/Mapping.vue
  client/src/components/visualizations/Tree.vue
  client/src/data/json/customResponseCodes.json
  client/src/router.js
  client/src/scripts/webRequests/axiosInstance.js
  client/src/scripts/webRequests/responseHandler.js
  client/src/scripts/webRequests/serverInterface.js
  client/src/store.js
  client/src/views/Admin.vue
  client/src/views/Start.vue
  client/src/views/Test.vue
  client/src/views/View.vue
  server/.env
  server/src/functions/createOrg.ts
  server/src/functions/orgFunctions.ts
  server/src/functions/resourceFunctions.ts
  server/src/routes.ts
Due: build:client, build:server, deploy:client, deploy:server

Handling views better
  client/src/App.vue
  client/src/components/Header.vue
  client/src/components/SideNav.vue
  client/src/components/orgPages/OrgCreate.vue
  client/src/components/orgPages/OrgSettings.vue
  client/src/scripts/webRequests/responseHandler.js
  client/src/views/Admin.vue
  client/src/views/Home.vue
Due: none

Corrected timings during org create
  client/src/components/Header.vue
  client/src/components/orgPages/OrgCreate.vue
  client/src/components/orgPages/OrgSettings.vue
  client/src/scripts/webRequests/axiosInstance.js
  client/src/views/Admin.vue
  server/src/functions/orgFunctions.ts
  server/src/routes.ts
Due: none

some updates
  client/src/App.vue
  client/src/components/orgPages/OrgCreate.vue
  server/src/functions/orgFunctions.ts
  server/src/routes.ts
Due: none

squash
  .gitlab-ci.yml
  client/src/App.vue
  client/src/components/modals/Result.vue
  client/src/components/modals/Upload.vue
  client/src/scripts/stateManagement/clearResponseState.js
  server/package-lock.json
  server/package.json
  server/src/functions/resourceFunctions.ts
  server/src/interfaces/resource.ts
  server/src/models/resource.ts
  server/tsconfig.json
Due: build:server, deploy:server

Update resource.ts
  server/src/interfaces/resource.ts
Due: none

SignUp page work
  client/src/App.vue
  client/src/components/TopNav.vue
  client/src/router.js
  client/src/scripts/webRequests/axiosInstance.js
  client/src/views/SignUp.vue
  server/src/functions/orgFunctions.ts
  server/src/functions/resourceFunctions.ts
  server/src/interfaces/resource.ts
Due: none

squash
  client/src/App.vue
  client/src/components/Background.vue
  client/src/components/Header.vue
  client/src/components/TopNav.vue
  client/src/components/clickables/ButtonSideNav.vue
  client/src/components/clickables/ButtonTopNav.vue
  client/src/components/clickables/Card.vue
  client/src/components/clickables/Selector.vue
  client/src/components/modals/Loading.vue
  client/src/components/modals/Result.vue
  client/src/components/modals/Upload.vue
  client/src/components/navigation/SideNav.vue
  client/src/components/navigation/TopNav.vue
  client/src/components/orgPages/OrgCreate.vue
  client/src/components/orgPages/OrgSettings.vue
  client/src/components/visualizations/List.vue
  client/src/components/visualizations/Mapping.vue
  client/src/components/visualizations/Tree.vue
  client/src/views/Admin.vue
  client/src/views/Analyze.vue
  client/src/views/Home.vue
  client/src/views/SignUp.vue
  client/src/views/Start.vue
  client/src/views/Test.vue
  client/src/views/View.vue
  client/template.txt
Due: build:client, deploy:client

npm audit fix
  client/package-lock.json
  client/package.json
Due: build:client, deploy:client

Update package-lock.json
  server/package-lock.json
Due: build:server, deploy:server

Trying to figure out what directory GitLab is dumping me into here.
  .gitlab-ci.yml
Due: none
